<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="dataMng" class="org.uncodeframework.core.common.data.DataMngImpl">
		<property name="dao" ref="dataDao" />
	</bean>
	
	<bean id="dataDao" class="org.uncodeframework.core.common.data.DataDaoImpl">
		<property name="dataSource" ref="c3p0DataSource" />
		<property name="db" value="uncodeframework" />
	</bean>
</beans>