.ux-combo-selectall {
	padding: 3px;
}

.ux-combo-selectall-icon-checked {
	background: transparent
		url(../images/default/menu/checked.gif);
}

.ux-combo-selectall-icon-unchecked {
	background: transparent
		url(../images/default/menu/unchecked.gif);
}

.ux-combo-selectall-icon {
	text-indent: 1.8em;
	background-position: 3px 2px ! important;
	background-repeat: no-repeat ! important;
	height: 22px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	-moz-user-select: none;
}